!!!
%html
  %head
    %title= content_for?(:window_title) ? yield(:window_title) : "Cocoa by the Fire | Brittany Tarvin Young"
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" }
    %meta{ name: "description", content: "Personal and professional website of Brittany Tarvin Young, a technologist and entrepreneur living in Portland, Oregon." }
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = analytics_init if Rails.env.production?
  %body{ id: controller_name, class: action_name }
    = yield


